.about-company {
  padding-top: 75px;
  padding-bottom: 101px;

  color: #666666;
}

.about-company__inner {
  padding-bottom: 10px;
  padding-left: 180px;

  background: url("../img/year.png") no-repeat #ffffff;
  background-position: -30px 5px;

  @media (min-resolution: $retinaDpi), (min-resolution: $retinaDppx) {
    background-image: url("../img/year@2x.png");
  }
}

.about-company h2 {
  margin: 0 0 22px;

  font-weight: normal;
  font-size: 36px;
  line-height: 50px;
}

.about-company p {
  margin: 0;
  margin-bottom: 37px;

  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  letter-spacing: 0.018em;
}

.about-company__button {
  width: 180px;
  padding: 13px 0;

  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #00b2ff;

  border: 1px solid $mainBGColor;
}

.about-company__text-continue {
  display: none;
}

@media screen and (max-width: $tabletWidth) {
  .about-company {
    padding-top: 25px;
    padding-bottom: 74px;
    background: url("../img/year-tablet.png") no-repeat #ffffff;
    background-position: 0 23px;

    @media (min-resolution: $retinaDpi), (min-resolution: $retinaDppx) {
      background-image: url("../img/year-tablet@2x.png");
    }
  }

  .about-company__inner {
    padding-bottom: 10px;
    padding-left: 186px;
    background: none;
  }

  .about-company__text-continue {
    display: initial;
  }

  .about-company__text-desktop {
    display: none;
  }

  .about-company h2 {
    margin-bottom: 25px;

    font-size: 32px;
    line-height: 140%;
  }

  .about-company p {
    margin-bottom: 40px;

    letter-spacing: 0;
  }
}

@media screen and (max-width: $phoneWidth) {
  .about-company {
    background: none;
    padding-top: 35px;
    padding-bottom: 56px;
  }

  .about-company__inner {
    padding-bottom: 10px;
    padding-left: 0;
  }

  .about-company h2 {
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 39px;
  }

  .about-company p {
    margin-bottom: 47px;
  }
}
