.button {
  display: block;
  box-sizing: border-box;
  padding: 0 10px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;

  &:hover,
  &:focus {
    border-color: #ff811a;
    color: #ff811a;
    background: transparent;
  }
}

.button--transparent {
  background-color: transparent;
  border: 1px solid #ffffff;
}

.button--filled {
  background-color: $mainBGColor;
}
