.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1451px;
  margin: 0 auto;
  padding: 0 20px;

  &--small {
    max-width: 1210px;
  }
}

@media screen and (max-width: $tabletWidth) {
  .container {
    max-width: initial;
    padding: 0 25px;
  }
}

@media screen and (max-width: $phoneWidth) {
  .container {
    min-width: 320px;

    padding: 0 15px;
  }
}
