.header {
  display: flex;
  align-items: center;
}

.header__info {
  display: flex;
  align-items: center;
  margin: 0;
  margin-right: 51px;
  margin-left: auto;
  padding: 0;

  list-style: none;
}

.header__info li {
  margin-right: 88px;
}

.header__info li.last {
  margin-right: 0;
}

.header__link {
  display: flex;
  align-items: center;

  font-size: 16px;
  font-family: "PT Mono", "Arial", sans-serif;
  color: $mainTextColor;
}

.header__link svg {
  margin-right: 16px;

  fill: $mainBGColor;
}

.header__link:hover svg {
  fill: #ff811a;
}

.header__button {
  min-width: 180px;
  padding-top: 14px;
  padding-bottom: 14px;

  line-height: 16px;
  color: $mainTextColor;

  border: 1px solid;
  border-color: #ffffff;
}

.header__button:hover {
  border-color: #ff811a;
}

@media screen and (max-width: $tabletWidth) {
  .header__info {
    margin-right: 0;
  }

  .header__info li {
    margin-right: 33px;
  }

  .header__link svg {
    margin-right: 0;
  }

  .header__link--mail svg {
    width: 25px;
    height: 19px;
  }

  .header__link--phone svg {
    width: 24px;
    height: 24px;
  }

  .header__link {
    font-size: 0;
  }

  .header__button {
    display: none;
  }
}

@media screen and (max-width: $phoneWidth) {
  .header__info li {
    margin-right: 23px;
  }
}
