.info {
  display: flex;
  flex-direction: column;
}

.info__title {
  // width: 100%;
  margin: 0 0 26px;

  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.info__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.info__list--add {
  margin-left: 65px;
}

.info__item a {
  font-size: 15px;
  line-height: 25px;
  font-family: "PT Mono", "Arial", sans-serif;
  color: #1b2d37;

  opacity: 0.5;

  &:hover {
    opacity: 0.8;
  }
}

.info-wrapper {
  display: flex;
}

@media screen and (max-width: $tabletWidth) {
  .info-wrapper {
    flex-direction: column;
  }

  .info__list--add {
    margin-left: 0;
  }
}

@media screen and (max-width: $phoneWidth) {
  .info {
    position: relative;
    padding-bottom: 0;
    width: 100%;

    &::before,
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      z-index: 1;

      width: 50vw;
      height: 1px;

      background-color: #626962;
    }

    &::before {
      right: 50%;
    }

    &::after {
      left: 50%;
    }
  }

  .info__title {
    position: relative;

    margin-bottom: 0;
    padding: 28px 0;

    cursor: pointer;

    &:hover::after {
      opacity: 1;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;

      width: 16px;
      height: 16px;

      background: url("../img/cross.png") center no-repeat transparent;
      transform: translateY(-50%);
      opacity: 0.5;
    }
  }

  .info-wrapper {
    padding-bottom: 23px;
  }

  .info-wrapper--hide {
    display: none;
  }
}
