.services {
  padding: 88px 0 96px;

  background-color: #1b2d37;
}

.services h2 {
  margin: 0 0 52px;

  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
}

.services__link {
  display: block;
  min-height: 620px;
  padding: 50px 155px 50px 45px;

  color: $mainTextColor;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  padding: 0;

  list-style: none;
}

.services__item {
  margin: 0 15px 30px;
}

@media screen and (max-width: $tabletWidth) {
  .services {
    padding-top: 50px;
    padding-bottom: 32px;
  }

  .services h2 {
    margin-bottom: 51px;

    font-size: 32px;
    line-height: 140.62%;
  }

  .services__link {
    min-height: 256px;
    padding-top: 38px;
    padding-right: 510px;
  }

  .services__item {
    margin-bottom: 46px;
  }
}

@media screen and (max-width: $phoneWidth) {
  .services {
    padding-bottom: 33px;
  }

  .services h2 {
    margin-bottom: 43px;
    padding-left: 10px;
    font-size: 28px;
  }

  .services__list {
    margin-top: 0;
  }

  .services__link {
    padding: 20px 35px;
    padding-right: 100px;
  }

  .services__item {
    margin-bottom: 30px;
  }
}
