.service {
  box-sizing: border-box;
  width: calc(100% / 3 - 30px);
  background-color: inherit;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.service a:hover::after,
.service a:focus::after {
  animation: animateHover 1s linear infinite;
}

.services a {
  position: relative;
}

.service a::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 63px;
  height: 63px;
  background-color: $mainBGColor;
}

.service a::after {
  content: "";
  position: absolute;
  right: 27px;
  bottom: 27px;
  width: 6px;
  height: 6px;
  border: 2px solid #ffffff;
  border-top: none;
  border-left: none;
  transform: translateX(0) rotate(-45deg);
}

.service h3 {
  max-width: 160px;
  margin: 0;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.service--ligth {
  background-image: url("../img/light.png");
}

.service--production {
  background-image: url("../img/production.png");
}

.service--mounting {
  background-image: url("../img/mounting.png");
}

@keyframes animateHover {
  0% {
    transform: translateX(0) rotate(-45deg);
  }

  25% {
    transform: translateX(15px) rotate(-45deg);
  }

  50% {
    transform: translateX(7px) rotate(-45deg);
  }

  75% {
    transform: translateX(15px) rotate(-45deg);
  }

  100% {
    transform: translateX(0) rotate(-45deg);
  }
}

@media screen and (max-width: $tabletWidth) {
  .service {
    width: calc(100% - 30px);
  }
}
