.write-us {
  padding-top: 92px;
  padding-bottom: 116px;

  background: $mainBGColor;
  background-image: url("../img/plane.png"),
    url("../img/write-us-rects.png"),
    url("../img/write-us-rects-2.png");
  background-repeat: no-repeat;
  background-position: calc(50% - 355px) 161px,
    calc(50% - 449px) -61px,
    calc(100% + 10px) 35px;

  @media (min-resolution: $retinaDpi), (min-resolution: $retinaDppx) {
    background-image: url("../img/plane@2x.png"),
      url("../img/write-us-rects@2x.png"),
      url("../img/write-us-rects-2@2x.png");
    background-size: auto, 670px 641px, 365px  670px;
  }
}

.write-us__inner {
  display: flex;
}

.write-us__content-wrapper {
  min-width: 570px;
  width: calc(50% - 15px);
  margin-left: auto;
}

.write-us__form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;

  &--last {
    margin-bottom: 0;
    position: relative;
    top: 3px;
  }
}

.write-us__form {
  display: flex;
  flex-wrap: wrap;

  & button {
    padding-top: 14px;
    padding-bottom: 14px;
    letter-spacing: 0.08em;
    font-family: inherit;
  }

  & input,
  & label,
  & button {
    width: calc(50% - 15px);
  }

  & textarea {
    width: 100%;
    height: 154px;
    overflow: auto;
    resize: none;
  }

  & input,
  & textarea {
    box-sizing: border-box;
    padding: 12px 16px;

    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    font-family: "PT Mono", "Arial", sans-serif;
    color: #ffffff;
    font-style: normal;

    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid transparent;
    border-radius: 0;

    &::placeholder {
      color: #ffffff;
    }

    &:hover,
    &:focus {
      border-color: #ffffff;
    }
  }
}

.write-us h2 {
  margin: 0 0 9px;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
}

.write-us p {
  display: block;
  margin-top: 0;
  margin-bottom: 52px;

  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
}

@media screen and (max-width: $tabletWidth) {
  .write-us {
    padding-top: 81px;
    padding-bottom: 107px;
    background-image: none;
  }

  .write-us h2 {
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 15px;
  }

  .write-us p {
    margin-bottom: 54px;
  }

  .write-us__image-wrapper {
    display: none;
  }

  .write-us__content-wrapper {
    min-width: auto;
    width: 100%;
    padding: 0 60px 0 66px;
  }

  .write-us__form {
    display: flex;
    flex-wrap: wrap;

    & button {
      padding-top: 14px;
      padding-bottom: 14px;

      font-family: inherit;
    }

    & textarea {
      height: 160px;
    }

    & input,
    & textarea {
      box-sizing: border-box;
      padding: 14px 16px;
    }
  }
}

@media screen and (max-width: $phoneWidth) {
  .write-us {
    padding-top: 29px;
    padding-bottom: 12px;
  }

  .write-us__content-wrapper {
    padding: 0;
  }

  .write-us h2 {
    font-size: 28px;
    line-height: 39px;
  }

  .write-us p {
    margin-bottom: 24px;
  }

  .write-us__form {
    flex-direction: column;

    & input,
    & label {
      width: 100%;
      margin-bottom: 30px;
    }

    & button {
      width: 100%;
      margin-bottom: 28px;
    }

    & textarea {
      height: 104px;
      margin-bottom: 30px;
    }
  }

  .write-us__form-row {
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;
    margin: 0;
  }
}
