.write-us-modal__inner {
  box-sizing: border-box;
  width: 490px;
  padding: 30px 39px 30px;
}

.write-us-modal h2 {
  margin: 0;
  margin-bottom: 12px;
  font-weight: normal;
  font-size: 28px;
  line-height: 39px;
}

.write-us-modal p {
  width: 90%;
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  margin-bottom: 33px;
}

.write-us-modal__form {
  display: flex;
  flex-direction: column;

  & button {
    margin-bottom: 36px;
    padding-top: 14px;
    padding-bottom: 14px;

    font-family: inherit;
  }

  & input,
  & label,
  & button {
    width: 100%;
  }

  & textarea {
    width: 100%;
    height: 104px;
    overflow: auto;
    resize: none;
  }

  & input,
  & textarea {
    box-sizing: border-box;
    margin-bottom: 30px;
    padding: 14px 16px;

    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    font-family: "PT Mono", "Arial", sans-serif;
    color: #ffffff;
    font-style: normal;

    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid transparent;
    border-radius: 0;

    &::placeholder {
      color: #ffffff;
    }

    &:hover,
    &:focus {
      border-color: #ffffff;
    }
  }

  label.checkbox {
    padding-left: 50px;
    width: 90%;

    .checkbox__indicator {
      top: 0;
      left: 0;
    }
  }
}
