*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: $mainTextColor;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
