// Font
// $mainFont: "PT Sans", Helvetica, Arial, sans-serif;

// Size
$mainFontColor: #101010;
$mainFontSize: 18px;
$mainFontWeight: 400;
$mainLineHeight: 1.4;
$desktopWidth: 1024px;
$tabletWidth: 768px;
$phoneWidth: 480px;
