// Font
// $mainFont: "PT Sans", Helvetica, Arial, sans-serif;

// Size
$mainFontColor: #101010;
$mainFontSize: 18px;
$mainFontWeight: 400;
$mainLineHeight: 1.4;
$desktopWidth: 1024px;
$tabletWidth: 1023px;
$phoneWidth: 767px;
$mainTextColor: #ffffff;
$mainBGColor: #00b2ff;
$secondaryBGColor: #1b2d37;
$retinaDpi: 144dpi;
$retinaDppx: 1.5dppx;
